.dx-datagrid, .dx-datagrid-header-panel, .dx-toolbar {
    background-color: #fbfbfb;
}

body {
    padding: 50px;
    background-color: #fbfbfb;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.category-tag {
    background: #dedede;
    padding: 0.5rem 1rem;
    margin-right: 5px;
    border-radius: 50px;
}

.category-tag-primary {
    background: #44e073;
    order: -1;
}

.category-cell {
    display: flex;
}

tr.dx-row.dx-data-row:hover {
    background: rgb(68 224 115 / 25%);
    cursor: pointer;
}

td.name-cell {
    font-weight: bold;
}

img.charity-link-button {
    height: 20px;
    opacity: 50%;
}

#logo {
    font-size: 5rem;
    font-weight: bold;
    color: #44e073;
    text-decoration: underline;
    line-height: initial;
}