a,article,aside,big,body,center,div,footer,h1,h2,h3,h4,h5,h6,header,html,i,img,li,nav,p,section,span,ul{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,footer,header,nav,section{display:block}body{line-height:1}ul{list-style:none}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: normal;
}

@font-face{
    font-family:DXIcons;
    src:local("DevExtreme Material Icons"),
    local("devextreme_material_icons"),
    url(icons/dxiconsmaterial.woff2) format('woff2'),
    url(icons/dxiconsmaterial.woff) format('woff'),
    url(icons/dxiconsmaterial.ttf) format('truetype');
    font-weight:400;
    font-style:normal
}

#logo {
    font-size: 5rem;
    font-weight: bold;
    margin-top: 25px;
    color: #44e073;
    text-decoration: underline;
}

#subHeadline {
    font-size: 41px;
    color: #929292;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-left: 30px;
}

#logo, #subHeadline {
    display: inline-block;
}

#subHeadline img {
    width: 85px;
    opacity: 0.6;
    position: relative;
    top: 12px;
}

#searchField {
    display: flex;
    flex-wrap: wrap;
}

#go {
    background: #ffffff;
    outline: unset;
    border: none;
    border-radius: 82px;
    font-size: 23px;
    font-weight: bold;
    color: #44e073;
    box-shadow: 3px 3px 4px 2px rgba(0,0,0,0.1);
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;
    width: 200px;
    height: 58px;
    margin-top: 58px;
}

#go:hover {
    background-color: #ff9100;
    color: white;
}

#search {
    margin-top: 20px;
}

#searchField > div {
    margin-right: 10px;
}

#search {
    display: flex;
}

#searchInput .dx-texteditor-container {
    padding: 0px 15px;
}

.dx-texteditor.dx-editor-filled {
    background-color: rgba(0, 0, 0, 0.00);
}

.dx-texteditor.dx-state-focused:before, .dx-texteditor.dx-state-active:before {
    border-bottom: 2px solid #44E073;
}

.category-wrapper {
    max-height: 500px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}

.category {
    text-align: center;
    min-width: 150px;
    padding: 20px;
    border-radius: 10px;
    margin: 0 20px 20px 0;
    cursor: pointer;
}

.category img {
    width: 64px;
    height: 64px;
}

.category h4 {
    font-weight: bold;
    font-size: 15px;
    color: #333;
    text-align: center;
    margin-top: 15px;
}

.category:hover {
    background: #eaeaea;
}

#region input {
    cursor: pointer;
}

.search-pair {
    margin: 1rem 0rem;
    padding: 1rem 1rem 1rem 0;
    position: relative;
}

#categoryInput {
    height: 57px;
    margin-top: 10px;
    padding: 13px;
}

#categoryInput.dx-texteditor.dx-editor-underlined:after {
    border-bottom: none;
}

.search-pair-description {
    font-weight: bold;
}

.search-pair-description + div {
    width: 320px!important;
    background: white!important;
    border-radius: 4px;
}

.dx-checkbox-indeterminate .dx-checkbox-icon,
.dx-checkbox-checked .dx-checkbox-icon {
    background-color:#44e073;
}

.search-pair-description i, .search-pair-description h3 {
    display: inline-block;
}

.search-pair-description i {
    background: #44e073;
    color: white;
    border-radius: 50px;
    margin-right: 10px;
    padding: 20px 25px;
    font-size: 1.5rem;
    position: absolute;
}

#regionInput input {
    cursor: pointer;
}

.category.selected {
    background: #d8d8d8;
}

nav {
    right: 0;
    top: 0;
    position: fixed;
    z-index: 4;
    padding-right: 20px;
    width: 100%;
    background: white;
    background: white;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
    padding-bottom: 17px;
}

nav a {
    padding: 10px 20px;
    display: inline-block;
    border-bottom: transparent;
    font-size: 0.7rem;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-weight: 800;
    text-decoration: none;
    color: #545454;
    font-size: 0.7rem;
    font-weight: bold;
}

nav a:hover {
    color: #44e073;
}

nav ul {
    display: flex;
}

.dx-datagrid, .dx-datagrid-header-panel, .dx-toolbar {
    background-color: transparent;
}

#charitiesGrid {
    position: relative;
    bottom: 60px;
    margin-bottom: -60px;
}

.category-tag {
    background: #dedede;
    padding: 0.5rem 1rem;
    margin-right: 5px;
    border-radius: 50px;
}

.category-tag-primary {
    background: #44e073;
    order: -1;
}

.category-cell {
    display: flex;
}

tr.dx-row.dx-data-row:hover {
    background: rgb(68 224 115 / 25%);
    cursor: pointer;
}

td.name-cell {
    font-weight: bold;
}

img.charity-link-button {
    height: 20px;
    opacity: 50%;
}

header, section, footer {
    padding: 2rem;
}

section#searchResults {
    background-color: #f9f9f9;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

footer {
    background: #c3c3c3;
    color: #333333;
    min-height: 200px;
}

footer a {
    color: #333333;
    padding: 5px 0px;
    display: block;
}

footer ul {
    margin-bottom: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
}

section {
    flex-basis: 100%;
}

section#mission, section#disclaimer {
    flex-basis: 0;
    flex-grow: 1;
}

section > h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    background: #44e073;
    color: white;
    padding: 5px 10px;
}

section:not(#searchResults) > h3 {
    margin-bottom: 1rem;
}

section#searchContainer {
    background: #44e073;
}

h4.search-pair-title {
    text-transform: uppercase;
    color: #133c1a;
    margin-bottom: 10px;
}

.dx-texteditor.dx-editor-filled.dx-state-hover:after {
    border: none;
}

#searchResults {
    display: none;
}

section p {
    border-left: 1px solid #44e073;
    padding: 1rem;
    background: #44e0731c;
}